In [3]:
import requests

In [4]:
URL = "https://stephen-king-api.onrender.com/api/books"
res = requests.get(URL)

In [14]:
json_data = res.json()

In [15]:
import pandas as pd

In [18]:
df = pd.json_normalize(json_data["data"])
df = df[["id","Year","ISBN"]]
df

    id  Year               ISBN
0    1  1974  978-0-385-08695-0
1    2  1975  978-0-385-00751-1
2    3  1977  978-0-385-12167-5
3    4  1977  978-0-451-07645-8
4    5  1978  978-0-385-12168-2
..  ..   ...                ...
58  59  2018  978-1-50118-098-9
59  60  2018  978-1-98210-231-9
60  61  2019  978-1-98211-056-7
61  62  2021  978-1-78909-649-1
62  63  2021  978-1-982-17361-6

[63 rows x 3 columns]