In [1]:
import pandas as pd

In [11]:
#dataframe by dictionary
info = {
     "name": ["safal","ram","shyam"],
     "age" : [21,22,23],
     "cgpa": [9.2,8.5,8.9]
 }
df = pd.DataFrame(info)
print(df)


#print column
print(df.columns)

#for rows label
print(df.index)

    name  age  cgpa
0  safal   21   9.2
1    ram   22   8.5
2  shyam   23   8.9
Index(['name', 'age', 'cgpa'], dtype='str')
RangeIndex(start=0, stop=3, step=1)

In [14]:
#dataframe from list of list
df = pd.DataFrame([["safal",23],["rita",21],["sita",31]],columns = ["Name","age"])
print(df)

    Name  age
0  safal   23
1   rita   21
2   sita   31

In [17]:
#Dataframe from Numpy array
import numpy as np
np_array = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(np_array,columns = ["a","b","c"])
print(df)

   a  b  c
0  1  2  3
1  4  5  6

In [19]:
#dataframe method
df = pd.read_csv("employee_data.csv")
print(df,type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.DataFrame'>

In [31]:
#dataframe method
df.head() #first 5
df.tail() #last 5
df.sample() #random
df.info()  #info about table
df.shape #return tuples
df.describe() #mathematical summary 
df.columns #column value
df.nunique() #give unique value

<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10 non-null     int64
 1   Name        10 non-null     str
 2   Age         10 non-null     int64
 3   Department  10 non-null     str
 4   Salary      10 non-null     int64
dtypes: int64(3), str(2)
memory usage: 532.0 bytes

ID            10
Name          10
Age           10
Department     4
Salary        10
dtype: int64