In [1]:
import pandas as pd

In [9]:
s = pd.Series([1,2,3,4,5])
print(s)
print(type(s))


#accessing value
#indexing
print(s[3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.Series'>
4

In [13]:
#label
s = pd.Series([11,12,13,14,15],index= ["Adam","saphal","hari","sita","rita"])
print(s)
print(s["Adam"])

Adam      11
saphal    12
hari      13
sita      14
rita      15
dtype: int64
11