In [1]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({
    "id" : [1,2,3],
    "name": ["adam","eve","bob"]
})
df2 = pd.DataFrame({
    "id" : [4,5,6],
    "name": ["ram","hari","walter"]
})
pd.concat([df1,df2],ignore_index=True) #row wise
pd.concat([df1,df2],axis = 1) #column wise

   id  name  id    name
0   1  adam   4     ram
1   2   eve   5    hari
2   3   bob   6  walter