In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("raw_data.csv")

In [12]:
#groupby
df.groupby("country")["income"].mean()
df.groupby("country")["income"].min()

df.groupby("gender")["income"].mean()

#agg function
df.groupby("country")["income"].agg(["mean","min","max"])

#change column name
df.groupby("country")["income"].agg(avg_salary = "mean",min_salary = "min")

#multiple aggregrate  for same column
df.groupby("country").agg({
    "income" : "max",
    "age" : "mean"
})

#rename values
df.groupby("country").agg(
    avg_salary = ("income","mean")
)

         avg_salary
country
Canada      62000.0
China       51000.0
India       73000.0
Mexico      45000.0
Spain           NaN
USA         55400.0