In [1]:
import pandas as pd

In [10]:
df=pd.DataFrame({"country":["USA","USA","India","India"],
                 "year":[2020,2021,2020,2021],
                 "sales":[100,120,90,110],
                 "profit":[20, 25, 18, 22],
                 
                 
                })
melted_data = df.melt(
    id_vars=["country","year"],
    value_vars=["sales","profit",],
    var_name="metrics",
    value_name="value"
)

original = melted_data.pivot(
    index=["country","year"],
    columns="metrics",
    values="value"
)
original

metrics       profit  sales
country year
India   2020      18     90
        2021      22    110
USA     2020      20    100
        2021      25    120

In [6]:
df

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India  2020     90      18
3   India  2021    110      22