In [5]:
import pandas as pd

In [8]:
info = {
    "Name": ["Rahul","harshita","saphal"],
    "cgpa": [9.5,7.5,8.6]
}
df = pd.DataFrame(info)
print(df)

       Name  cgpa
0     Rahul   9.5
1  harshita   7.5
2    saphal   8.6

In [9]:
df

       Name  cgpa
0     Rahul   9.5
1  harshita   7.5
2    saphal   8.6